@namespace Carlton.Base.Client.Components
@inherits LayoutComponentBase


<nav class="sticky-top">
    <CascadingValue Value="@IsCollapsed">
        <CascadingValue TValue="Action" Value="@SetCollapsedStatus">
            @HeaderContent
        </CascadingValue>
    </CascadingValue>
</nav>
<div class="container-fluid">
    <div class="row @(IsCollapsed ? "collapsed" : string.Empty)">
        <nav class="sidebar @(IsCollapsed ? string.Empty : "col-md-3 col-lg-3 col-xl-2")">
            @NavContent
        </nav>


        <main role="main" class="@(IsCollapsed ? string.Empty : "col-md-9 col-lg-9 col-xl-10 ml-auto")">
            <div class="row">
                @Body
            </div>


            <article class="row">
                @PanelContent
            </article>
        </main>
    </div>
</div>
    <footer class="row offset-1">
        @FooterContent
    </footer>



@code{
    [Parameter]
    public RenderFragment HeaderContent { get; set; }

    [Parameter]
    public RenderFragment NavContent { get; set; }

    [Parameter]
    public RenderFragment PanelContent { get; set; }

    [Parameter]
    public RenderFragment FooterContent { get; set; }

    private bool IsCollapsed { get; set; }

    private void SetCollapsedStatus()
    {
        IsCollapsed = !IsCollapsed;
    }
}



