@using Carlton.Base.Client.Components
@using Carlton.Base.Client.State
@using Carlton.TestBed.Client.Shared.Header
@using Carlton.TestBed.Client.Shared.NavTree
@using Carlton.TestBed.Client.Shared.ComponentViewer
@using Carlton.TestBed.Client.Shared.Panel
@using Carlton.TestBed.Client.State

@inherits LayoutComponentBase

<DashboardLayout>
    <HeaderContent>
        <TestBedHeader />
    </HeaderContent>

    <Body>
        <CarltonDataWrapper TViewModel="ComponentViewerViewModel"
                            StateEvents="@x">
            <ChildComponent>
                <ComponentViewer ViewModel="@context.ViewModel"
                                 OnComponentEvent="@context.OnComponentEvent"
                                 ComponentStatus="ComponentStatus.SYNCED" />
            </ChildComponent>
        </CarltonDataWrapper>
    </Body>

    <PanelContent>
        <Panel />
    </PanelContent>
    <NavContent>
        <CarltonDataWrapper TViewModel="NavTreeViewModel">
            <ChildComponent>
                <NavTree ViewModel="@context.ViewModel"
                         OnComponentEvent="@context.OnComponentEvent"
                         ComponentStatus="ComponentStatus.SYNCED" />
            </ChildComponent>
        </CarltonDataWrapper>
    </NavContent>
    <FooterContent>
        <Carlton.TestBed.Client.Shared.Footer.TestBedFooter />
    </FooterContent>
</DashboardLayout>


@code {

    ElementReference body;

    private string[] x = new string[] {
                                             TestBedState.SELECTED_ITEM ,
                                             TestBedState.VIEW_MODEL_CHANGED,
                                             TestBedState.STATUS_CHANGED
                                            };
}







