@using Carlton.Base.Client.Components.Tree
@using Carlton.Base.Client.State.Components
@using Carlton.TestBed.Client.Shared.NavTree.Models

@inherits CarltonComponentBase<NavTreeViewModel>

<div class="carlton-test-bed-nav-tree">
    <CarltonBaseTree TNode="TestBedNavTreeItem"
                     Nodes="ViewModel.TreeItems"
                     ChildSelector="@(item => item.Children)"
                     SelectedNode="@ViewModel.SelectedNode"
                     SelectedNodeChanged="@(async (node) => await base.OnComponentEvent.InvokeAsync(new NavTreeSelectedNodeChangedEvent(node)))"
                     HasChildNodes="@(item => item.Children?.Any() == true)"
                     Style="TreeStyle.DefaultTreeStyle">
        <TitleTemplate>@context.DisplayName</TitleTemplate>
    </CarltonBaseTree>
</div>

@*ExpandedNodes="ViewModel.ExpandedNodes.ToList()"
    ExpandedNodesChanged="(nodes) => base.OnComponentEvent.InvokeAsync(new ExpandedNodesChangedEvent((IEnumerable<TestBedNavTreeItem>) nodes)"*@

